@import 'blockList.css';
@import 'navigation.css';
@import 'taskList.css';

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafe;
  display: flex;
  column-gap: 4rem;
}

input {
  text-align: center;
}

section {
  height: 100vh;
  width: calc(100% - 200px);
  margin-top: 2rem;
}

caption {
  text-align: start;
  margin-bottom: 2rem;
}

.isHidden {
  display: none;
}
